@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Rye&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  font-family: "Rye", sans-serif; /* Aplica la fuente Oswald a todos los elementos de texto */
  
}
body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.title {
  color: white;
  background-color: black;
  font-size: 100px; /* El doble del tamaño actual */
  
}

.fruit {
  font-size: 10em; /* Tamaño de fuente más grande */
}

.fruit-container {
  margin-right: 10px; /* Espacio entre frutas */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: -125px;
  
}

my-button {
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black;
  margin-left: 150px;
  margin-right: 150px;
  margin-top: -15px;
 
}

a {
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  color: #1670f0;
  padding: 30px 60px;
  font-size: 30px;
  letter-spacing: 2px;
  text-decoration: none;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-left: 200px;
}

a:hover {
  background-color: #42417c;
  color: #fff;
  filter: drop-shadow(1px 5px 20px #0531f7);
}

#span1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #4800ff, #1779ff);
  animation: animate1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

#span2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, #4800ff, #1779ff);
  animation: animate2 2s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

#span3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to left, #4800ff, #1779ff);
  animation: animate3 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animate3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

#span4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, #4800ff, #1779ff);
  animation: animate4 2s linear infinite;
}

@keyframes animate4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*loader*/

.loader {
  width: 225px;
  height: 215px;
  animation: l1 0.1s infinite linear;
  background: linear-gradient(180deg, #000 0%, #fcf3f1 50%, #000 100%) #f2f2f2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-size: 100% 300%;
  border-radius: 10%;
}

@keyframes l1 {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
